<!-- Toolbar -->
<div class="toolbar" role="banner">
    <button matTooltip="Página principal" class="routerLinks" routerLink="" mat-flat-button>Inicio</button>
    <button matTooltip="Ideas" class="routerLinks" routerLink="/inspo" mat-flat-button>Inspiracion</button>
    <img class="imgLogo" width="40" alt="Angular Logo" src="../assets/img/iconLogo.png" />
    <div class="loginContainer">
        <button *ngIf="!isAuthenticated" routerLink="/login" matTooltip="Iniciar sesión" mat-raised-button id="loginBtn">Login</button>
        <button *ngIf="isAuthenticated" routerLink="/turnos" matTooltip="Turnos" mat-raised-button class="turnoBtn">
            Agenda tu turno
        </button>
        <button *ngIf="isAuthenticated" mat-raised-button matTooltip="Perfil" id="profileBtn" routerLink="/perfil">
            <mat-icon>person</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" mat-raised-button matTooltip="Cerrar sesión" id="logoutBtn" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </div>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

    <router-outlet></router-outlet>

</div>